/* navibar固定でずれるので */
body {
    padding-top: 55px;
    background-color: rgb(219, 186, 243, 0.200);
}


/*.left-cont {*/
    /*!*background-color: rgb(219, 186, 218, 0.200);*!*/
/*}*/

.mid-cont {
    /*background-color: rgba(180, 197, 243, 0.200);*/
}

.right-cont {
    /*background-color: rgba(204, 241, 207, 0.200);*/
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-brand {
    margin-left: 60px;
}