/* navibar固定でずれるので */
body {
    padding-top: 55px;
    background-color: rgb(219, 186, 243, 0.200);

    /*画面ロード時にゆっくり表示する*/
    animation: fadeIn 5s ease 0s 1 normal;
    -webkit-animation: fadeIn 5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.footer{
    font-size: 23px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #15aaa1;
    z-index: 30000;
}
.footer .foot-cube{
    position: fixed;
    right: 50px;
    bottom: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

/*左側にcubeを置くため感覚を開ける*/
.navbar-brand {
    margin-left: 60px;
}

/*ナビバーの非選択リンク*/
.navbar-nav .nav-item .nav-link {
    color: gray;
}

/*ナビバーのアクティブリンク*/
.navbar-nav .nav-item.active .nav-link {
    color: black;

}

/*ナビバーのマウスオーバーリンク*/
.navbar-nav .nav-item:hover .nav-link {
    color: darkred;
}